# Node
node_modules/
npm-debug.log
.env

# Build
dist/
build/

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Local artifacts
mongoimage.tar
src - Raccourci.lnk
backend/backend/src/uploads/pdfs/
backend/db_export_*.json